<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/common :: head(title='Update Reader', description='Update Reader')}"></head>

<body>

<nav th:replace="~{fragments/common :: navbar}"></nav>

<main class="section-wrapper">

    <div class="container">

        <div class="card shadow" style="background-color:#252836">

            <div class="card-header bg-dark text-white">
                <h3 class="mb-0">Update User</h3>
            </div>
            <div th:if="${error}"
                 style="
        background:#dc3545;
        color:white;
        padding:12px 16px;
        border-radius:8px;
        margin-bottom:20px;
        font-weight:600;
     ">
                <span th:text="${error}"></span>
            </div>

            <div class="card-body" style="background-color:#252836">

                <form th:action="@{/readers/edit}"
                      th:object="${reader}"
                      method="post"
                      enctype="multipart/form-data">

                    <input type="hidden" th:field="*{id}"/>

                    <input type="hidden" th:field="*{password}"/>

                    <input type="hidden" th:field="*{role}"/>

                    <div class="row">

                        <div class="col-md-6 mb-3">
                            <label class="form-label">Username</label>
                            <input class="form-control"
                                   th:field="*{username}"
                                   readonly>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label class="form-label">Email</label>
                            <input class="form-control" type="email"
                                   th:field="*{email}">
                        </div>

                        <div class="col-md-6 mb-3">
                            <label class="form-label">Full Name</label>
                            <input class="form-control"
                                   th:field="*{fullName}">
                        </div>

                        <div class="col-md-6 mb-3">
                            <label class="form-label">Phone</label>
                            <input class="form-control" minlength="10" maxlength="10"
                                   th:field="*{phone}">
                        </div>

                        <div class="col-md-12 mb-3">
                            <label class="form-label">Address</label>
                            <input class="form-control"
                                   th:field="*{address}">
                        </div>

                        <div class="col-md-6 mb-3">

                            <label class="form-label">Role</label>

                            <select class="form-select" name="role_id">
                                <option value="3" th:selected="${reader.role.id == 3}">Reader</option>
                                <option value="2" th:selected="${reader.role.id == 2}">Librarian</option>
                            </select>

                        </div>

                        <div class="col-md-6 mb-3">
                            <label class="form-label">Date of Birth</label>
                            <input type="date"
                                   class="form-control"
                                   name="birth"
                                   th:value="${birth}">
                        </div>

                        <div class="col-md-6 mb-3">

                            <label class="form-label">Status</label>

                            <select class="form-select"
                                    th:field="*{enabled}">

                                <option th:value="true">
                                    Active
                                </option>

                                <option th:value="false">
                                    Disabled
                                </option>

                            </select>

                        </div>

                        <div class="col-md-12 mb-3">
                            <input type="hidden" th:field="*{avatar}">

                            <label class="form-label">Upload New Avatar</label>

                            <input type="file"
                                   class="form-control"
                                   name="avatarFile"
                                   accept="image/*">

                        </div>

                    </div>

                    <hr>

                    <button class="btn btn-success">
                        Save
                    </button>

                    <a th:href="@{/readers}"
                       class="btn btn-secondary">
                        Cancel
                    </a>

                </form>

            </div>

        </div>

    </div>

</main>

<footer th:replace="~{fragments/common :: footer}"></footer>

</body>
</html>