<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/common :: head(title='Update Author')}"></head>

<body>

<nav th:replace="~{fragments/common :: navbar}"></nav>

<section class="section-wrapper">

    <div class="container">

        <div class="row justify-content-center" style="background-color:#0F1327;color:white">

            <div class="col-lg-8" style="background-color:#0F1327;color:white">

                <div class="card shadow-lg border-0 rounded-4" style="background-color:#0F1327;color:white">

                    <div class="card-body p-5">

                        <h2 class="fw-bold mb-2">
                            Author Detail
                        </h2>

                        <p class="text-muted mb-4" style="color:white">
                             author information.
                        </p>

                        <div class="mb-4">
                            <label class="form-label fw-semibold">Author Name</label>
                            <div class="form-control bg-dark text-white border-secondary"
                                 th:text="${author.name}">
                            </div>
                        </div>

                        <div class="mb-4">
                            <label class="form-label fw-semibold">Biography</label>
                            <div class="form-control bg-dark text-white border-secondary"
                                 style="min-height:180px; white-space:pre-wrap;"
                                 th:text="${author.bio}">
                            </div>
                        </div>

                            <hr class="my-4">

                            <div class="d-flex justify-content-end gap-3">

                                <a th:href="@{/authors/edit/{id}(id=${author.id})}"
                                   class="btn btn-warning btn-sm">
                                    Edit
                                </a>

                                <a th:href="@{/authors}"
                                   class="btn btn-warning btn-sm">
                                    Cancel
                                </a>

                            </div>


                    </div>

                </div>

            </div>

        </div>
        <div class="card-body p-0" style="background-color:#0F1327">

            <table class="table table-dark table-hover align-middle mb-0">
                <h4 style="color:white">Books written</h4>
                <thead>
                <tr class="text-center">
                    <th>ID</th>
                    <th>Cover</th>
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>Category</th>
                    <th>Quantity</th>
                    <th>Available</th>
                    <th>Status</th>
                    <th>Approved By</th>
                    <th>Approved At</th>
                </tr>
                </thead>

                <tbody>

                <tr th:if="${#lists.isEmpty(books)}">
                    <td colspan="11"
                        class="text-center text-secondary py-4">
                        No books found.
                    </td>
                </tr>

                <tr th:each="book : ${books}">

                    <td class="text-center"
                        th:text="${book.id}">
                    </td>

                    <td class="text-center">

                        <img th:if="${book.coverImage != null}"
                             th:src="${book.coverImage}"
                             width="60"
                             height="80"
                             class="rounded border"
                             style="object-fit:cover;">

                        <span th:if="${book.coverImage == null}"
                              class="text-secondary">
                        No Image
                    </span>

                    </td>


                    <td class="fw-semibold">
                        <a th:href="@{/books/{id}(id=${book.id})}" th:text="${book.title}" style="text-decoration: none;color:white"></a>
                    </td>

                    <td th:text="${book.isbn}"></td>


                    <td th:text="${book.category.name}"></td>

                    <td class="text-center"
                        th:text="${book.quantity}">
                    </td>

                    <td class="text-center">

                    <span class="badge bg-success"
                          th:text="${book.availableQuantity}">
                    </span>

                    </td>

                    <td class="text-center">

                    <span class="badge bg-primary"
                          th:text="${book.status}">
                    </span>

                    </td>

                    <td th:text="${book.approvedBy != null ? book.approvedBy.fullName : '-'}">
                    </td>

                    <td th:text="${book.approvedAt != null ? #temporals.format(book.approvedAt,'dd/MM/yyyy HH:mm') : '-'}">
                    </td>

                </tr>

                </tbody>

            </table>

        </div>

    </div>

</section>

</body>
</html>